<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="App Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="JWT_SECRET" value="supersecret"/>
        <env name="JWT_ALGORITHM" value="HS256"/>
        <env name="JWT_TOKEN_TTL" value="3600"/>
        <env name="JWT_REFRESH_TOKEN_TTL" value="86400"/>
    </php>
</phpunit>
